/* ============================
        
        General styles

============================= */

*{
  box-sizing: border-box;
}

body{
  background: url(assets/wedding-landing-background.png) repeat center;
  font-family: 'Muli',sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}

/* ========================

      Layout styles

=========================*/
/* === single direction margin declaration 4 vertical rhythm === */

h1, h2, h3, 
ul, ol, 
p, 
img {
    margin-bottom: 1.5rem;
}

section{
  background-attachment: fixed;
}

.locations,
.gift,
.contact,
footer,
.center,
h1, h2, h3 {
  text-align: center;
}

img{
  width: 7.5rem;
}

.locations,
.program,
.gift,
.faq,
.contact {
  width: 95%;
  margin: 1.5rem auto;
  padding: .5rem 1rem;
}
.alt-section h2{
  margin-top: 1rem;
}

.alt-section {
  width: 100%;
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
}

.cover, audio, footer {
  width: 100%;
  display: flex;
  align-items: center; /* a képernyő hosszában középre rendezi az elemeket*/
  justify-content: center; /* a képernyő széltében középre rendezi az elemeket*/
}
/* ========================

       link styles

=========================*/
a{
  color: #bd806e;
}
a:hover{
  color: #eda087;
}
/* ========================

       Font styles

=========================*/


h1, h2{
  font-family: 'Great Vibes', cursive;
}
.gift, .contact, .headtext, h3{
  font-family: 'Libre Baskerville', serif;
}

h1{
  font-size: 3.15rem;
  color: #d2ba87;
}

h2{
  font-size: 3rem;
}
h3{
  font-size: 1.5rem;
}



/* ===================== 

          header 

======================== */


.cover{
  background: url(assets/wedding-landing-cover.jpg) no-repeat 70% center/cover;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

.wind {
  position: absolute;
  left: -100%;
  background: url(assets/wind.png);
  display: block;
  width: 3000px;
  height: 100vh;
  top:0;
  animation: moveleft 60s linear infinite;
    z-index: 100;
}
@keyframes moveleft {
  0%
  {
    background-position: 0px;
  }
  100%{
    background-position: 3000px;
  }
}
.welcome-wrapper {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
  width: 100vw;
}

.headtext {
    font-size: 1.25rem;
    letter-spacing: .15rem;
}

.tagline::after {
    display: block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 12.515625rem;
    margin: .5rem auto;
}

.dateline::before, .dateline::after{
    display: inline-block;
    content: "";
    background-color: #fff;
    height: 1px;
    width: 1.5rem;
    vertical-align: middle;
    margin: 0 .5rem;
}

/* ======================== 

        Locations 

======================== */
.locations {
  background-attachment: fixed;
  overflow: hidden;
}
.local h3{
  font-weight: 700;
}

.local::after {
    display: block;
    content: "";
    height: .1875rem;
    width: 25vw;
    margin: 1.5rem auto;
    background-color: #444349;
}

/* ======================== 

    program styles

======================== */

.program p {
  font-style: italic;
}

.program ul {
  letter-spacing: .025rem;
}

/* ========================

        gift styles 

======================== */
.gift p:last-child {   /* To even out the bottom and top margins of this section. */
  margin-bottom: 0;
}

/* ======================== 

          faq 

======================== */

.quest{
  margin-bottom: .5rem;
  font-weight: 700;
}

.faq-col::after{
  content: "";
    display: block;
    height: .1875rem;
    width: 50vw;
    margin: 1.5rem auto;
    background-color: #d2ba87;
}

/* ======================== 

            footer 

======================== */
footer{
  height: 10vh;
  background-color: #606060;
  color: #fff;
  font-size: .875rem;
  padding: .5rem 1rem;
}

footer small {
  line-height: 1.5;
}
footer p{
  margin: 0;
}

/* ======================== 

   desktop media

======================== */


@media (min-width: 768px) {
  
  .local::after, .faq-col::after {
    display: none;
  }
  
  .local, .faq-col {
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }
  
  /* === header ===*/
  
  .welcome-wrapper{
    width: 50vw;
    border-radius: 4px;
    padding: 1.25rem;
  }
  .nameline{
    font-size: 7rem;
  }
   .tagline {
    text-transform: uppercase;
  }
  
  /* === locations ===*/
  .local-wrapper{
    display: flex;
    justify-content: space-between;
  }
  
  
  /* === program ===*/
  
  .program-wrapper{
    width: 30%;
    margin: 0 auto;
  }
  
   /* === faq ===*/
  
  .faq-wrap{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
  }
  .faq-col{
    vertical-align: top;    
  }
  .faq-col h3 {
    text-align: left;
  }
 
  /* === footer ===*/
  
  footer {
    min-height: 7vh;
  }
}

/* ==================

     Animation

================== */

.focus-in-expand-fwd {
	animation: focus-in-expand-fwd 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-8-27 0:13:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand-fwd
 * ----------------------------------------
 */
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-800px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    filter: blur(0);
    opacity: 1;
  }
}